/*!
 * DobokCSS v2.0.0 (https://dobockcss.github.io)
 * Author:  Estefanio N Santos <estefanions AT gmail DOT com> 
 * License: MIT
 * 
 * Mobile-First, Flexbox & CSS Tokens Architecture
 */

/* ==========================================================================
   1. DESIGN TOKENS & VARIABLES
   ========================================================================== */
:root {
    --brand-prm: #40535b;
    --brand-scn: #3d6b7f;
    --brand-ntl: #ccc;
    --brand-lgt: #f8f8f8;
}
